#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/games/wuzi
Name=五子棋
Icon=/usr/share/icons/wuziqi/wuzi.png
Categories=Development;
