[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=wuzi
Comment=五子棋
Exec=/usr/local/bin/wuzi
Icon=/usr/share/icons/wuziqi/wuzi.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
Name[zh_CN]=五子棋
GenericName[zh_CN]=
Comment[zh_CN]=五子棋

